%% -*- erlang -*-
{erl_opts,[debug_info, fail_on_warning]}.
{deps_dir, ["deps"]}.
{deps, []}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{sub_dirs, []}.
{port_sources, ["c_src/*.c"]}.
{so_name, "ecirca.so"}.
{port_envs, [{"x86_64.*-linux", "CFLAGS", "$CFLAGS -O3 -Wall -pedantic"}]}.
